.faq{
    background: rgba(249, 249, 249);
    display: flex;
    justify-content: center;
    align-items: center;
    padding:5rem 0rem;
}

.faq_header{
    margin-left: 26rem;
    font-family: 'Exo 2', sans-serif;
    
}

.faq_header h2{
    font-size: 2.5rem;
    color: #595959;
}

.faq_categories{
    width: 900px;
}

.faq_title{
    font-family: 'Works sans', sans-serif;
    font-size: 1.1rem;
    color:#00a7ac;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.faq_answer{
    padding-top:2px;
    color:#595959;
    display: none;

    
}

.faq_answer.show{
    /* min-height: 999px; */
    height: 70px;
    display: block;
   

}

.faq_category{
    background:#fff;
    margin-bottom: 5px;
    padding: 20px 30px;
    
    transition: 0.5s ease-in-out;
    cursor: pointer;

}


@media screen and (max-width: 768px) {
    .faq_header{
        margin-left: 13rem;
        font-family: 'Exo 2', sans-serif;
        
    }
    .faq_header h2{
        font-size: 2.2rem;
    }
    
    .faq_categories{
        width: 95%;
        margin-left: 1rem;
    }
    .faq_title{
        font-size: 1.089rem;
        
    }
    .faq_answer{
        padding-top:6px;
        font-size: 14px;
        
    }
    .faq_category{
        margin-bottom: 5px;
        padding: 25px 30px;
    }

}

