.article_container{
    margin:5rem 4rem 0rem 4rem;
}

.article_header{
    align-items: center;
    display: flex;
    flex-direction: column;
    line-height: 1.8;
}

.article_header span{
    font-size:2.6rem;
    font-weight: 600;
    font-family: 'Exo 2', sans-serif;
}

.article_header p{
    margin-bottom: 0;
    font-size: 1.1rem;
    color:#595959;
    font-family: 'Works sans', sans-serif;

}

.article_category{
    position: relative;
}

.article_categories{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    /* gap:1.5rem; */
    margin-top:2rem;
    margin-bottom: 7rem;
   
}

.date_article .date_text{
    font-family: 'Exo 2', sans-serif;
    font-weight: 600;
    color:#fff;
    background-color: #00a7ac;
    position: absolute;
    left:0;
    padding:10px;
    border-radius:5px;
    top:55%;
    transform: translateY(-50%);
    margin-left:1rem;
    transition:0.5s ease-in-out;

    
}

.date_text:hover{
    background: #fff;
    border:1px solid #00a7ac;
    color:#00a7ac;
}

.comment_person_article{
    display: flex;
    flex-direction: row;
    /* gap:2.5rem; */
    justify-content: space-between;
    padding-left:1.3rem;
    padding-top:8px;
    /* align-items: center; */
}

.comment_article span{
    font-size:14px;
    color:#595959;
    padding-left:8px;
}

.comment:hover{
    color:#00a7ac;
}

.comment_article{
    padding-left:3rem;
}

.comment_section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.person_article span{
    font-size:14px;
    color:#595959;
    padding-left:8px;
}

.img_article img{
    width:23rem;
    height:13rem;
    border-radius: 5px;
    
}

.article_link{
    font-family: 'Exo 2', sans-serif;
    font-weight: 600;
    font-size:1.35rem;
    transition: 0.5s ease-in-out;
    padding-top:1.1rem;
}

.article_link span:hover{
    color:#00a7ac;
    transition:0.5s;

}

.explore{
    margin:1rem 0rem 0rem 1rem;
    font-family: 'Exo 2', sans-serif;
    
}


@media (max-width:786px) {

    .article_container{
        margin: 4.8px 0px 0px 0px;
        margin-top: 4.2rem;
    }



    .article_categories{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 0px;
        /* justify-content: center;
        align-items: center; */
    }

    .article_category{
        width: 350px;
        margin-bottom: 54px;
        /* margin-right: 7px; */
        margin-left: 0px;
        padding: 0px;
        /* border: 1px solid; */
    }
    
    .img_article img{
        width:98%;
        height: 200px;
    }

    .comment_article{
        margin-right: 10px;
    }

    .date_article{
        display: flex;
        flex-direction: row;
        position: absolute;
        top: 44%;
        left: -16px;
        padding: 18px 50px;
        text-align: center;
    }

    .article_link{
        margin: 0px 8px;
        font-size: 20px;
        font-weight: 600;
        /* border: 1px solid; */
    }

    .comment_person_article{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0px 45px 0px 0px;
    }
}

@media (max-width:576px) {
    .article_categories{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0px 96px 140px 0px;
        margin-left: 0px;
    }

    .article_category{
        position: relative;
        margin: 24px 20px 0px 0px;
        margin-bottom: 32px;
    }

    .article_header{
        text-align: center;
    }
    
    .img_article img{
        width: 475px;
        height: 275px;
    }

    .comment_article{
        margin-right: 150px;
    }

    .date_article{
        display: flex;
        flex-direction: row;
        position: absolute;
        top: 51%;
        left: -16px;
        padding: 18px 50px;
        text-align: center;
    }

    .article_link{
        margin: 0px 8px;
        font-size: 22px;
    }
}
