/* position: absolute;
right: -23px;
top: 50%;
transform: translateY(-50%);
height: 46px;
width: 46px;
border-radius: 50%;
background: #fff;
border: 1px solid #dbdbdb;
display: flex;
align-items: center;
justify-content: center; */

.reviews_container{
    margin-left:4rem;
    margin-top:4rem;
    position: relative;
}

.reviews_header{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.review_header_text{
    /* line-height: 1.7; */
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.review_img{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.comma_id{
    border:1px solid #dbdbdb;
    border-radius: 50%;
    height:3rem;
    width: 3rem;
    background-color: #fff;
    transform: translateX(-50%);    
}


.review_img .comma_icon{
    padding:13px;
    
    
}

.review_img img{
    border-radius: 5px;
}

.reviews_header_text p{
    font-size:2.5rem;
    font-family: 'Exo 2', sans-serif;
    font-weight: 700;
}

.reviews_header_text span:nth-child(2){
    font-size:1.1rem;
    font-family: 'Works sans', sans-serif;
}

.reviews_arrow{
    /* margin-left:15rem; */
    margin-top:3rem;

}

.review_name{
    display: flex;
    flex-direction: column;
    line-height: 1.7;
}

.review_name .name{
    font-size: 1.3rem;
    font-family: 'Exo 2',sans-serif;
    font-weight: 600;
}

.review_text{
    padding-top: 1rem;
    font-family: 'Works sans', sans-serif;
    width:20rem;
    line-height: 1.3;
    /* margin-right:1.4rem; */
}

.review_text span{
    font-size: 1.3rem;
    color:#595959;
}

.review_name .role{
    font-family: 'Works sans', sans-serif;
    color:#595959;
}

.review_rate{
    margin-left:4rem;
    margin-top:1rem;
}

.reviews_categories{
    display: flex;
    margin-top: 3.5rem;
    margin-bottom: 4rem;
    overflow: hidden;
}

.review_data{
    display: flex;

}

.review_header_text{
    display:flex;
    flex-direction: column;
    margin-left: -10px;
    margin-right: 10px;


}

.reviews_flex{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.arrowIcon{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:2rem;
    margin-left:35rem;
    margin-top:4rem;
}


.arrow_left{
    position: relative;
}

.arrow_left .circle_img_left{
    width:24px;
    height:24px;

}

.arrow_img_left{
    position: absolute;
    top:16px;
    transform: translateY(-50%);
    left:5px;

}

.arrow_left .arrow_img_left{
    transition: left 600ms;
}

.arrow_left .arrow_img_left:hover{
    cursor: pointer;
    left:-3px;
}

.arrow_right{
    position: relative;
}

.arrow_right .circle_img_right{
    width:24px;
    height:24px;


}

.arrow_right .arrow_img_right{
    transition: left 600ms;
}

.arrow_img_right{
    top:4px;
    left:-8px;
    position: absolute;

}

.arrow_right .arrow_img_right:hover{
    left:-3px;
    cursor: pointer;

}


@media screen and (max-width:1080px){
    .reviews_header{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .reviews_categories{
        display: flex;
        /* flex-direction: column; */
        gap:3rem;
    }

   
}

@media (max-width:576px){
.reviews_container{
    display: flex;
    flex-direction: column;
    /* width: 90vw; */
    /* max-width: 1170px; */
    /* margin-top: 68px; */
    margin-left: 10px;
    margin-right: 10px;
}

.reviews_categories{
    display: flex;
    flex-direction: column;
    position: relative;
    /* width: 70vw;
    max-width: 800px; */
    margin-top: 20px;
    overflow: hidden;
}

    .review-data{
        display: flex;
        flex-direction: column;
        /* position: absolute; */
        width: 100%;
        height: 100%;
        /* top: 0px;
        left: 0px; */
         margin: 0px;
        margin-left: 0px;
        margin-right: 0px; 
        /* opacity: 0; */
        /* transition: all 0.3s linear; */

    }

    /* .activeSlide{
        opacity: 1;
        transform: translateX(0);
    }

    .lastSlide{
        transform: translateX(-100%);
    }

    .nextSlide{
        transform: translateX(100%);
    } */

    .review_header_text{
        margin: 26px 0px;
        padding: 0px;
    }

    .reviews_flex{
        display: flex;
        justify-content: space-between;
    }

    .review_header_text p{
        /* margin-top: 40px; */
    }

    .review_text{
        width: fit-content;
        margin-right: 8px;
    }

    .arrowIcon{
        margin-top: 20px;
        margin-bottom: 18px;
        margin-left: 12px;
    }
   
}