.jobs_container{
    display: flex;
    flex-direction: column;
    margin-top:5rem;
}

.jobs_header{
    background-color: #fff;
    max-width: fit-content;
    border-radius: 5px;
    font-family: 'Exo 2', sans-serif;
    padding: 0.8rem;
    font-size: large;
    font-weight: 550;
    margin-left: 3rem;
    
}