.explore_Left{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:11px;
}

.arrow_right{
    position: relative;
}

.arrow_right .circle_img_right{
    width:24px;
    height:24px;


}

.arrow_right .arrow_img_right{
    transition: left 600ms;
}

.arrow_img_right{
    top:2px;
    left:-8px;
    position: absolute;

}

.arrow_right .arrow_img_right:hover{
    left:-3px;
    cursor: pointer;

}

.explore_link span{
    transition: 0.5s ease-in-out;
    font-weight: 500;
}

.explore_link span:hover{
    color:#00a7ac;

}