
.bookmarkJob_container{
    display: flex;
    background: rgba(249, 249, 249);
    /* flex-wrap: wrap; */
    flex-direction: row;
   
}

.bookmark_mark{
    overflow-y: scroll;
    height: 100vh;
}

@media screen and (max-width: 768px){
    .bookmarkJob_container{
        display: flex;
        flex-direction: column;

    }
}